.products{

    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: auto;
    margin-top: 5%;

}

.products img{

    width: 80%;
    height: 50%;

}